# config app
PORT=
ALLOWED_ORIGINS=
VCF_IOBIO_HOST=
IGV_HOST=
VEP_TOKEN=
FASTQ_TOKEN=

# config database mysql
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# config database mongodb
MONGO_DB_PREFIX=
MONGO_DB_HOST=
MONGO_DB_PORT=
MONGO_DB_DATABASE=
MONGO_IMPORT_CMD=
MONGO_CHAT_COLLECTION=

# config jwt token
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRED=

# config email
MAIL_USER=
MAIL_PASSWORD=
MAIL_HOST=

# AWS
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_BUCKET=
AWS_REGION=

# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=

# genebe api
GENEBE_USERNAME=
GENEBE_API_KEY=

# mount folder
MOUNT_FOLDER=
EXPORT_FOLDER=
ANALYSIS_FOLDER=
UPLOAD_FOLDER=
FASTA_FOLDER=

# PayOS
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
 
# Redis
REDIS_HOST=
REDIS_PORT=